*{
	margin: 0;
	padding: 0;
}

nav{
	width: 70%;
	margin:auto;
}

ul {
	list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #be9632;
}

ul li {
	float: left;
	display: block;
	text-align: center;
    padding: 14px 16px;
}

#principal{
	padding: 2% 0 2% 0;
	width: 70%;
	margin:auto;
	background-color: #EDE2C8;
}

#title{
	color: #8f0407db;
	font-size:1.8em;
	text-align:center;
	background-color: #d3d3d3;
	margin: 0 0 3% 0;
}

#text{
	width:100%;
	display: flex;
	background-color: #EDE2C8;
}

#primeiraColuna{
	color: black;
	width:40%;
	margin-left: 10%;
	padding: 1% 2% 1% 2%;
	display: inline-block;
	text-align: justify;
	background-color: #d3d3d3;
}

#segundaColuna{
	color: black;
	width:40%;
	margin-right:10%;
	padding: 1% 2% 1% 2%;
	display: inline-block;
	text-align: justify;
	background-color: #d3d3d3;
}

footer{
	text-align: center;
	width: 70%;
	margin:auto;
	background-color: #be9632;
}