*{
	margin: 0;
	padding: 0;
}

nav{
	width: 70%;
	margin:auto;
}

ul {
	border-bottom-style: none;
	list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #be9632;
}

ul li {
	float: left;
	display: block;
	text-align: center;
    padding: 14px 16px;
}

#principal{
	padding: 2% 0 2% 0;
	width: 70%;
	margin:auto;
	background-color: #EDE2C8;
	color: black;
}

#title{
	color: #8f0407db;
	font-size:1.8em;
	text-align:center;
	background-color: #d3d3d3;
	margin: 0 0 3% 0;
}

#pontos{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

#pontos div {
	border-style: none;
	width: 40%;
	padding: 2% 0 2% 0;
	background-color: #d3d3d3;
	text-align: justify;
	margin-bottom:2%;
}

#pontos div:nth-child(odd){
	margin-right:2%;
}

#pontos div img{
	margin: 0 10% 0 10%;
}

#pontos div p {
	margin: 0 10% 0 10%;
}

.button{
	margin-left:10%;
	margin-top:2%;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2% 4% 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

footer{
	width: 70%;
	margin:auto;
	background-color: #be9632;
	text-align: center;
}